# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


subgraph/old/gp-token/node_modules
subgraph/old/habitat/node_modules
subgraph/old/wnd/node_modules
subgraph/rinkeby/CnM/node_modules
subgraph/rinkeby/House/node_modules
subgraph/rinkeby/Habitat/node_modules
.env
subgraph/rinkeby/node_modules
subgraph/rinkeby/build